<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Welcome!</h1>
   <form method="POST" action="/create_puppy">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="coach"></p>
      <p>Age:<input type="integer" name="pg"></p>
      <input type="submit" name="Click Here To List A Puppy" value="submit">
    </form>
 </body>
</html>
